<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center title"> ESCANEAR QR </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="scanActive ? 'scanActive' :''">
  <ion-button expand="full" (click)="startScan()" [hidden]="scanActive">
    <ion-icon name="scan-outline" slot="start"></ion-icon>
    Ecanear
  </ion-button>

  <ion-list class="data-list" *ngIf="qrData && !scanActive">
    <ion-item lines="none">
      <ion-text slot="start">Nombre:&nbsp; </ion-text>
      {{qrData.nombre}}
    </ion-item>

    <ion-item lines="none">
      <ion-text slot="start">Rut:&nbsp; </ion-text>
      {{qrData.rut}}
    </ion-item>

    <ion-item lines="none">
      <ion-text slot="start">Emitido:&nbsp; </ion-text>
      {{qrData.fecha_emision}}
    </ion-item>

    <ion-item lines="none">
      <ion-text slot="start">Dia del evento:&nbsp; </ion-text>
      {{qrData.fecha_evento}}
    </ion-item>

    <ion-item lines="none">
      <ion-text slot="start">Caduca:&nbsp; </ion-text>
      {{qrData.valido_hasta}}
    </ion-item>

    <ion-item lines="none">
      <ion-text slot="start">Emisor:&nbsp; </ion-text>
      {{qrData.emisor}}
    </ion-item>

    <ion-button expand="full" (click)="admitirEntrada(qrData.id)">
      Habilitar Entrada
    </ion-button>

    <ion-button expand="full" (click)="clearData()"> Limpiar Datos </ion-button>
  </ion-list>

  <ion-button expand="full" *ngIf="scanActive" (click)="stopScan()">
    Dejar de escanear
  </ion-button>
  <ion-icon *ngIf="scanActive" class="scan-icon" name="scan-outline"></ion-icon>
</ion-content>
