ion-header{
    ion-toolbar{
        --background: transparent;
        color: var(--ion-color-light);
    }
}

ion-content{
    --background: url('/assets/img/fondos_page_1_movil.jpg') no-repeat center center / cover;
}

.fixed-card{
    *{
        font-family: bebas neue;
    }
}