<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form>
    <ion-list class="fixed-card ion-padding">
      <ion-item class="ion-margin" lines="none">
        <ion-img
          class="logo"
          src="/assets/img/icons_png_medi_1.png"
          alt="Logo mediterraneo"
        ></ion-img>
      </ion-item>
      <ion-item class="ion-margin-top ion-margin-bottom">
        <ion-label position="floating">USUARIO</ion-label>
        <ion-input type="text" placeholder="Tu usuario"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top ion-margin-bottom">
        <ion-label position="floating">RUT (sin puntos y con guion)</ion-label>
        <ion-input type="password" placeholder="Ejem: 12345678-k"></ion-input>
      </ion-item>
      <ion-button
        type="submit"
        class="ion-margin"
        color="tertiary"
        expand="block"
      >
        Recuperar
      </ion-button>
    </ion-list>
  </form>
</ion-content>
