<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Gererar Codigo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list class="form-card ion-padding">
    <form [formGroup]="datosClienteForm" (ngSubmit)="generarCodigo()">
      <ion-item>
        <ion-label position="stacked">Nombre Cliente</ion-label>
        <ion-input
          type="text"
          placeholder="Ejem: John Doe"
          formControlName="nombre"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Rut Cliente</ion-label>
        <ion-input
          type="text"
          placeholder="Ejem: 12345678-k"
          formControlName="rut"
          maxlength="10"
          minlength="9"
        >
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-top ion-margin-bottom" lines="none">
        <ion-icon class="qr-icon" name="qr-code-outline"></ion-icon>
      </ion-item>

      <ion-button
        type="submit"
        color="secondary"
        class="ion-margin"
        expand="block"
      >
        Generar Link de Codigo QR
      </ion-button>

      <ion-item lines="none" *ngIf="linkQR" (click)="copyLink()">
        {{linkQR}}
        <ion-icon name="copy-outline" slot="end"></ion-icon>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
