ion-content{
    --background: url('/assets/img/fondo2.jpg') no-repeat center center / cover;
    position: relative;
}
ion-header{
    ion-toolbar{
        --background: transparent;
        color: #fff;
        font-family: bebas neue;
    }
}


.form-card{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    height: 75vh;
    min-height: 75vh;
    padding-top: 25px;
    overflow: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: auto auto 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255);
    ion-item{
        --ion-item-background: transparent;
        margin-bottom: 5px;
        border-radius: 5px;
        &:has(ion-icon){
            --ion-item-background: transparent;
        }
        &:has(ion-input){
            font-size: 20px;
        }
    }
    *{
        font-family: bebas neue;
    }
    ion-button{
        font-size: 18px;
    }
}
ion-list{
    margin: auto;
    text-align: center;
    .qr-icon{
        font-size: 50px;
    }
}
