ion-content{
    --background: linear-gradient(45deg, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.4)),
    url('/assets/img/discoteca.jpg') no-repeat center center / cover;
}
ion-header{
    ion-toolbar{
        --background: transparent;
        color: #fff;
        font-family: bebas neue;
    }
}

.listado{
    background-color: transparent;
    ion-item{
        --ion-item-background: rgba(37, 37, 37, 0.7);
        margin-bottom: 5px;
        border-radius: 5px;
        color: #fff;
        border-radius: 15px;

        ion-text{
            margin: auto;
        }
        ion-button{
            color: #fff;
        }
    }
}
