ion-content{
    --background: url('/assets/img/fondo1.jpg') no-repeat center center / cover;
}
ion-header{
    ion-toolbar{
        --background: transparent;
        color: #fff;
        font-family: bebas neue;
    }
}

.listado{
    background-color: transparent;
    ion-item{
        --ion-item-background: rgba(37, 37, 37, 0.7);
        border-radius: 5px;
        color: #fff;
        border-radius: 15px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 5px;
        ion-text{
            margin: auto;
        }
        ion-button{
            color: #fff;
        }
    }
}
